@import "tailwindcss";
@import "./theme.css";
@import "./fonts.css";



section .swiper-pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  background: none;
  opacity: 1;
  color: #fff;
}

section .swiper-pagination .swiper-pagination-bullet-active {
  color: #b9ff66;
}



@layer base {
   html {
      @apply font-main text-base h-full;
   }
   body {
      @apply h-full text-main;
   }
   .wrapper {
      @apply flex flex-col min-h-screen overflow-hidden;
   }
   .wrapper > main {
      @apply flex-auto;
   }
   .cnt {
      @apply max-w-[1270px] px-[15px] mx-auto;
   }
   .text {
      @apply text-[18px];
   }

   :before,
   :after,
   a {
      @apply inline-block;
   }
}

@layer utilities {
   .faq-icon {
      @apply before:absolute before:h-6.5 before:w-1.5 max-sm2:before:h-4.5 max-sm2:before:w-1 before:bg-black before:content-[''] after:absolute after:w-1.5 after:h-6.5 max-sm2:after:h-4.5 max-sm2:after:w-1 after:rotate-90 after:bg-black before:transition-all before:duration-500 after:content-[''];
   }
}